<!doctype html>
<html>

<head>
    <title>Bookmark Your Favorite Books</title>
    <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Bookmark Your Favorite Books</h1>
            <img src="https://img.jakpost.net/c/2019/03/02/2019_03_02_66706_1551461528._large.jpg"
                alt="books">

            <p>Login or Signup:</p>

            <a href="/login" class="btn btn-default"><span
                    class="fa fa-user"></span>Login</a>
            <a href="/signup" class="btn btn-default"><span
                    class="fa fa-user"></span>Signup</a>

        </div>

    </div>
</body>

</html>